body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  #header{
    margin-top: 100px;
    margin-bottom: 75px;
  }
  
  #buttons{
    margin-top: 25;
  }
  
  #cards{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .card{
    height: 100px;
    width: 150px;
  }